.nav {
  width: 100%;
  background-color: #f8f4ef;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  border-bottom: 2px solid black;
  padding: .75rem 0rem;
  overflow-x: hidden;
}

.nav-links li a.active {
  border-bottom: 2px solid #008080;
  padding-bottom: 4px;
  color: #008080;
}

.nav-grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 0 10rem;
  width: 100%;
  box-sizing: border-box;
}

/* Left: Contact Info */
.nav-left {
  justify-self: start;
  align-self: center;
}

.contact-info {
  font-size: 1rem;
  color: #636262;
  line-height: 1.4;
  border: black 1px solid;
  padding: 1rem 1.25rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
}

/* Center: Logo */
.nav-center {
  justify-self: center;
}

.logo {
  max-height: 220px;
  height: auto;
  width: auto;
  max-width: 100%;
}

/* Right: Nav Links */
.nav-right {
  justify-self: end;
}

.nav-links {
  display: flex;
  gap: 3rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  font-weight: 500;
  color: #333;
  font-size: 1.3rem;
  transition: color 0.2s ease;
}

.nav-links li a:hover {
  color: #008080;
}

.fb-container {
  margin-top: -5px;
}
.fb-icon {
  font-size: 1.9rem !important ;
  transition: color 0.3s ease;
  margin-bottom: 15px !important;
  color: #008080 !important;
}




/* Responsive */
@media (max-width: 1024px) {
  .logo {
    max-height: 80px;
  }

  .nav-grid {
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
    padding: 1rem;
  }

  .nav-left,
  .nav-center,
  .nav-right {
    justify-self: center;
  }

  .nav-links {
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }
}
